<div class="container">
	<div class="row">
		<div class="col-md-12">
      <div class="row">
			<p id="notice"><%= notice %></p>
      <h1>Listing Feed Entries</h1>
      <div class="col-md-8">
          <table class = "table">
            <thead>
              <tr>
                <th>Sumaary</th>
                <th>Name</th>
                <th>Review Link</th>
              </tr>
            </thead>

            <tbody>
              <% @feed_entries.each do |feed_entry| %>
                <tr>
                  <td><div class = ''<%=raw feed_entry.summary%></td>
                  <br>
                  <td><%=feed_entry.name %></td>
                  <td><%=feed_entry.url%></td>
                  <td><%=link_to 'Reviews', feed_entry_reviews_path(feed_entry.id)%></td>

                </tr>
              <% end %>
            </tbody>
          </table>
      	</div>
      </div>
	  </div>
	</div>
</div>



